.container {
    padding: 60px;
}

@media screen and (max-width: 1024px) {
    .container {
        padding: 10px;
    }
}

/*Small*/
@media screen and (max-width: 768px) {
    .container {
        padding: 10px 0;
    }
}